<%= simple_form_for @book, html: { multipart: true } do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.input :title, required: true, input_html: { class:"input"}, wrapper: false,
    	label_html: { class:"label" }%>
  </div>

  <div class="field">
    <%= form.input :author, required: true, input_html: { class:"input"}, wrapper: false,
    	label_html: { class:"label" }%>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>

  <div class="field">
    <%= form.label :price, required: true %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.input :genre, required: false, input_html: { class:"input"}, wrapper: false,
    	label_html: { class:"label" } %>
  </div>

  <div class="field">
    <%= form.input :description, required: true, input_html: { class:"textarea" }, wrapper: false,
    	label_html: { class:"label" } %>
  </div>

  <div class="field">
    <%= form.input :image, as: :file, input_html: { class:"file-input book-page" }, label: false, wrapper: false %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
