<p id="notice"><%= notice %></p>

<div class="header_books">
  <h3>Book'ля</h3>
</div>

<div class="book-index-grid pt4">
  <% @books.each do |book| %>
    <div class="book">
      <%= link_to (image_tag(book.image_url(:thumb))), book %>
    

      <div class="pa3">
        <h3 class="fw7 fw4"><%= link_to book.title, book %></h3>
        <p class="pt0"><%= book.author %></p>
        <p class="fw3 fw6 pt2 "><%= number_to_currency(book.price) %></p>
      </div>
    </div>
  <% end %>
</div>

<br>
