<p id="notice"><%= notice %></p>

<div class="header">
  <ul>
    <li><h4>Book'ля</h4></li>
      <span class="sign_in">
        <li><%= link_to 'Войти', new_user_session_path %></li>
        <span class="sign_up">
          <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
        </span>
      </span>
  </ul>
</div>

<div class="column side">
<p></p>
</div>

<div class="column middle">
  <div class="book-index-grid pt4">
    <% @books.each do |book| %>
      <div class="book">
        <%= link_to (image_tag(book.image_url(:thumb))), book %>
      

        <div class="pa3">
          <h3 class="fw7 fw4"><%= link_to book.title, book %></h3>
          <p class="pt0"><%= book.author %></p>
          <p class="fw3 fw6 pt2 "><%= number_to_currency(book.price) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>
