<!DOCTYPE html>
<html>
  <head>
    <title>OnlineStore</title>
    <% if cart_has_items %>
    <%= link_to cart_path(@cart), class:"navbar-item button is-warning" do %>
      <span class="icon is-small">
        <i class="fa fa-shopping-cart"></i>
      </span>
      <span>Cart
        <%= cart_count_over_one %>
      </span>
    <% end %>
  <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
